:root {
     --primary-color: #3B82F6;
    --secondary-color: #1E3A8A;
    --accent-color: #06B6D4;
    --background-color: #FFFFFF;
    --text-color: #1F2937;
    --hover-color: #2563EB;
    --active-color: #1E40AF;
    --disabled-color: #9CA3AF;
}



.light-theme {
    --primary-color: #3B82F6;
    --secondary-color: #1E3A8A;
    --accent-color: #06B6D4;
    --background-color: #FFFFFF;
    --text-color: #1F2937;
    --hover-color: #2563EB;
    --active-color: #1E40AF;
    --disabled-color: #9CA3AF;
}
